// Fonts
@font-face {
  font-family: DMSansLight;
  src: url("/fonts/DMSans-VariableFont.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: DMSansNormal;
  src: url("/fonts/DMSans-VariableFont.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: DMSansBold;
  src: url("/fonts/DMSans-VariableFont.ttf") format("ttf");
  font-weight: 700;
}

// Breakpoints
$bp-tablet-width: 768px;
$bp-laptop-width: 1024px;

// Fonts
$font-light: "DMSansLight", sans-serif;
$font-normal: "DMSansNormal", sans-serif;
$font-bold: "DMSansBold", sans-serif;

// Colors
$color-text-main: white;
$color-background: rgb(47, 24, 147);
$color-hero-btn: rgb(72, 43, 231);
$color-youtube: rgb(234, 50, 35);
$color-primary-btn: rgb(37, 218, 197);
$color-form-bkg: rgb(255, 255, 255);
$color-input: rgb(30, 14, 98);
$color-input-placeholder: rgb(21, 20, 57);
$color-input-border: rgba(235, 234, 237, 1);
$color-pricing-border: rgb(255, 255, 255);
$color-pricing-btn: rgb(233, 58, 125);

// Opacity
$opacity-main: 0.5;

// ------------------------------------HERO-----------------------

// Navlinks
// font-size: 18px;
// line-height: 26px;
// letter-spacing: 0px;

// Startup
// font-weight: 700;
// font-size: 24px;
// line-height: 100%;
// letter-spacing: -0.29px;
// text-align: center;

// H1
// font-weight: 700;
// font-size: 72px;
// line-height: 86px;
// letter-spacing: -1px;
// text-align: center;
// vertical-align: middle;

// Text
// font-weight: 500;
// font-size: 22px;
// line-height: 32px;
// letter-spacing: 0px;
// text-align: center;

// Button
// font-size: 18px;
// line-height: 26px;
// letter-spacing: 0px;
// text-align: center;
// vertical-align: middle;

// -----------------------------------------FEATURES------------------------------

// H3
// font-weight: 700;
// font-size: 42px;
// line-height: 52px;
// letter-spacing: -0.4px;

// Text - like in Hero
// font-weight: 500;
// font-size: 22px;
// line-height: 32px;
// letter-spacing: 0px;

// Feature
// font-weight: 700;
// font-size: 14px;
// line-height: 26px;
// letter-spacing: 2px;
// text-transform: uppercase;

// Feature-text
// font-weight: 400;
// font-size: 16px;
// line-height: 26px;
// letter-spacing: 0px;

// ------------------------------ACTION------------------------

// H3
// font-weight: 700;
// font-size: 58px;
// line-height: 70px;
// letter-spacing: -1px;
// text-align: center;

// Text
// font-weight: 500;
// font-size: 22px;
// line-height: 32px;
// letter-spacing: 0px;
// text-align: center;

// Button
// font-weight: 500;
// font-size: 20px;
// line-height: 26px;
// letter-spacing: 0px;
// text-align: center;
// vertical-align: middle;

// -----------------------CONTACT-------------------

// H3
// font-weight: 700;
// font-size: 42px;
// line-height: 52px;
// letter-spacing: -0.4px;

// Text
// font-weight: 500;
// font-size: 22px;
// line-height: 32px;
// letter-spacing: 0px;

// Contact-link
// font-weight: 400;
// font-size: 16px;
// line-height: 26px;
// letter-spacing: 0px;

// Form

// input label
// font-weight: 700;
// font-size: 14px;
// line-height: 26px;
// letter-spacing: 2px;
// text-transform: uppercase;

// input placeholder
// font-weight: 500;
// font-size: 18px;
// line-height: 26px;
// letter-spacing: 0px;
// vertical-align: middle;

// ---------------------PRICING------------------
// H3
// font-weight: 700;
// font-size: 42px;
// line-height: 52px;
// letter-spacing: -0.4px;
// text-align: center;

// Text
// font-weight: 500;
// font-size: 22px;
// line-height: 32px;
// letter-spacing: 0px;
// text-align: center;

// Pricing-card
//Heading
// font-weight: 500;
// font-size: 22px;
// line-height: 32px;
// letter-spacing: 0px;

// Price
// font-weight: 700;
// font-size: 58px;
// line-height: 70px;
// letter-spacing: -1px;
// text-align: center;

// $ mark
// font-weight: 400;
// font-size: 16px;
// line-height: 26px;
// letter-spacing: 0px;

// Feature active
// font-weight: 400;
// font-size: 16px;
// line-height: 26px;
// letter-spacing: 0px;

// Feature non-active
// font-family: DM Sans;
// font-weight: 400;
// font-size: 16px;
// line-height: 26px;
// letter-spacing: 0px;
// opacity: 70%;

// Button active
// width: 230;
// height: 60;
// angle: 0 deg;
// opacity: 1;
// border-radius: 100px;
// background: rgba(233, 58, 125, 1);

// Button non-active
// width: 230;
// height: 60;
// angle: 0 deg;
// opacity: 0.3;
// border-radius: 100px;
// border-width: 2px;

// Card + border
// width: 370;
// height: 730;
// top: 300px;
// left: 115px;
// angle: 0 deg;
// opacity: 0.2;
// border-radius: 10px;
// border-width: 2px;

// ------------------------FOOTER----------------------
// Statrup
// font-weight: 700;
// font-size: 24px;
// line-height: 100%;
// letter-spacing: -0.29px;
// text-align: center;

// Links
// font-weight: 400;
// font-size: 16px;
// line-height: 26px;
// letter-spacing: 0px;

// Links-icons ???
// font-family: FontAwesome;
// font-weight: 400;
// font-size: 18px;
// line-height: 26px;
// letter-spacing: 0px;
// text-transform: uppercase;

// Line
// width: 1169;
// height: 2;
// top: 120px;
// left: 116px;
// angle: 0 deg;
// opacity: 0.3;
// border-width: 2px;

// Bottom links
// font-weight: 400;
// font-size: 16px;
// line-height: 26px;
// letter-spacing: 0px;

// All rights reserved
// font-weight: 400;
// font-size: 16px;
// line-height: 26px;
// letter-spacing: 0px;
// text-align: right;
